<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <link rel="stylesheet" type="text/css" href="static/stylesh.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="header__title">Thermal Calculation App</h1>
        </div>
    </header>
    <main class="main">
        <section class="container">
            <h2 class="main__title">Error Encountered</h2>
            <p class="error-message">{{ error_message }}</p>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Thermal Calculation App</p>
        </div>
    </footer>
</body>
</html>




project_folder/
├── app.py
├── static/
│   └── styles.css
└── templates/
    ├── index.html
    ├── result.html