<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal Calculation App</title>
    <link rel="stylesheet" type="text/css" href="static/stylesh.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="header__title">Thermal Calculation App</h1>
        </div>
    </header>
    <main class="main">
        <section class="container">
            <h2 class="main__title">Get Accurate Thermal Calculations</h2>
            <form action="/" method="post" class="calc-form">
                <label for="T_H_IN">Hot Side Temperature (°C):</label>
                <input type="text" name="T_H_IN" placeholder="             Enter Hot Side Temp" required><br>
                <label for="T_C_IN">Cold Side Temperature (°C):</label>
                <input type="text" name="T_C_IN" placeholder="             Enter Cold Side Temp" required><br>
                <label for="m_dot_H">Hot Side Mass Flow (kg/s):</label>
                <input type="text" name="m_dot_H" placeholder="          Enter Hot Side Mass Flow" required><br>
                <label for="m_dot_C">Cold Side Mass Flow (kg/s):</label>
                <input type="text" name="m_dot_C" placeholder="          Enter Cold Side Mass Flow" required><br>
                <label for="UA">UA Value:</label>
                <input type="text" name="UA" placeholder="                     Enter UA Value" required><br>
                <input type="submit" value="Calculate">
            </form>
        </section>
    
</body>
</html>
